#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_Monetad += debian/examples/*
DEB_INSTALL_MANPAGES_Monetad += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix Monetad USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f Moneta-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake Moneta-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/Monetad:
	chmod +x $(cdbs_curdestdir)usr/bin/Monetad
binary-post-install/Moneta-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/Moneta-qt
